/* Sidebar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Coda;
}

body {
    background: #282a36;
}
@font-face {
    font-family: Coda;
    src: url(../fonts/Coda.ttf);
  }

@font-face {
    font-family: Quantum;
    src: url(../fonts/Quantum.otf);
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Coda', sans-serif;
  }
  
  .main{
    display: grid;
    position: relative;
  }
  
  /* SIDE BAR STUFF */
  .main .sidebar{
    width: 80px;
    height: 100%;
    background: #44475a;
    padding: 30px 0px;
    position: fixed;
  }
  
  .main .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .main .sidebar ul li a{
    color: #937DC2;
    display: block;
    font-size: 22px;
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
  }
  
  .main .sidebar ul li a .fas{
    width: 25px;
  }
  
  .main .sidebar ul li:hover{
    background-color: #bd93f9;
  }
      
  .main .sidebar ul li:hover a{
    color: #fff;
  }
  
  /* MAIN STUFF */
  h1 {
    font-size: 88px;
    font-family: Quantum;
    text-align: center;
    padding-left: 5rem;
    padding-top: 20rem;
    color: #f8f8f2;
  }
   
  h3 {
    font-size: 32px;
    font-family: Coda;
    text-align: center;
    padding-left: 5rem;
    padding-top: 1rem;
    color: #f8f8f2;
  }

/* Gauges */
